# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar arquivos de sistema do Windows
desktop.ini
Thumbs.db

# Python / Backend
venv/
__pycache__/
.env
turso.txt
levihub_dossie.md
levihub-db-backup.db
levihub-db.db
listar_categorias.py
credentials.json

arquitetura_modelo.md
comandos docker.txt
ui-ux-pro-max-skill README.md
mobile-app-ui-design README.md

__pycache__/
*.pyc